{%extends "master.html"%} {%block title%}Home{%endblock%} {%block body%}
<style>
  body {
    background-image: url('/static/main_page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>
<!-- <div
  class="container shadow-lg col-12 text-center col-md-8 p-5 mt-5 center border bg-white rounded-5 max-vw-100"
>
  <h2 class="fs-2 center">Welcome To SiConnect.</h2>
  <p class="p-3 fs-5 mt-3 center">
    SiConnect. is a platform that connects influencers with sponsors. It
    allows influencers to create profiles and sponsors to search for influencers
    to sponsor their products.
  </p>
  <p class="p-2 pt-0 fs-5 center">
    This was done as a project for the course Modern Application Development-1
    For the university Indian Institute of Technology, Madras
  </p>
  <p class="p-2 fs-5 center">
    Technologies used: Python, Flask, SQLite, HTML, Bootstrap
  </p>
</div> -->
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container col-12 text-center col-md-5 p-8 mt-9 center border bg-white rounded-4 max-vw-100" style="display: flex; justify-content: center; align-items: center;">
  <h2 class="fs-10 center" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size:42px; font-weight:400">Welcome to SiConnect.</h2>
</div>
<div class="m-5 p-5"></div>
<div class="m-5 p-5"></div>

{%endblock%}
