{% extends "master.html" %} {% block title %}signup{% endblock %} {% block body %}
<br />
{% include 'message.html' with context %}

<div
  class= "container shadow-lg col-12 col-md-5 p-5 mt-5 center border rounded-5 max-vw-100" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
>
  <form class="form" method="post" enctype="multipart/form-data">
    <h2 align="center" class="p-2 mt-6">Sign up as Influencer</h2>

    <label for="email">Email Address</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
      required
    />

    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Enter Username"
      required
    />

    <label for="password1">Password</label>
    <input
    type="password"
    id="password1"
    name="password1"
    class="form-control"
    placeholder="Enter Password"
    required
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*#?&]).{8,}"
    title="Must be 8+ characters, include uppercase, lowercase, number & special character."
  />

  <small class="text-muted mb-3">
    Password must be at least 8 characters long and include:
    <br>• an uppercase letter, <br>• a lowercase letter, <br>• a number, <br>• and a special character.
  </small>
  <br />

    <label for="password2">Confirm Password</label>
    <input
    type="password"
    id="password2"
    name="password2"
    class="form-control"
    placeholder="Confirm Password"
    required
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*#?&]).{8,}"
    title="Must match the above password."
  />

    <label for="instagram_reach">Instagram Reach <i class="fa fa-instagram" style="font-size:18px"></i> :</label>
    <input
      type="number"
      id="instagram_reach"
      name="instagram_reach"
      class="form-control"
      placeholder="Enter instagram_reach"
      required
    />

    <label for="youtube_reach">Youtube Reach <i class="fa fa-youtube-play" style="font-size:18px"></i> :</label>
    <input
      type="number"
      id="youtube_reach"
      name="youtube_reach"
      class="form-control"
      placeholder="Enter youtube_reach"
      required
    />

    <label for="niche">Niche:</label>
    <input
      type="text"
      id="niche"
      name="niche"
      class="form-control"
      placeholder="Enter niche"
      required
    />

    <div align="center">
      <button class="btn btn-primary mt-3" type="submit">Sign Up</button>
    </div>
  </form>

  <hr />
  <div class="d-flex justify-content-evenly">
    <a href="/signup/sponsor" class="btn-secondary">Sign up as Sponsor</a>
  </div>
</div>
{% endblock %}
